{% extends "AppFinal/landing.html" %}
{% load static %}

{% block titulopagina %} 

<title>Automóviles</title>

{% endblock %}

{% block tituloinicio %} 
<h1>Automóviles</h1>
{% endblock %}

{% block subtitulo %}
<p>Un automóvil, también denominado coche, carro, auto, etc; es un vehículo motorizado con ruedas utilizado para el transporte.  </p>
{% endblock %}

{% block imagentitulo %}
<img src="/static/AppFinal/assets/images/autos.fondo12.jpg" alt="" />
{% endblock %}

{% block cargar %} 
<h3>{{ mensaje }}</h3>

<h2>Un poco de historia ...</h2>


{% endblock %}

{% block navegacion %}

{% endblock  %}

{% block historia %}

{% endblock %}

{% block info1 %}
<a  class="image">
    <img src="/static/AppFinal/assets/images/primerAuto.jpg" alt="" data-position="center center" />
</a>
<div class="content">
    <div class="inner">
        <header class="major">
            <h3>El primer auto</h3>
        </header>
        <p>Es el primer coche del mundo y fue inventado por un francés hace más de 250 años. A pesar del paso del tiempo, el automóvil todavía existe. El carro de Cugnot, en el Museo de Artes y Oficios de París. Corría el año 1769...</p>
        <ul class="actions">
            <li><a href="https://motor.elpais.com/actualidad/quien-invento-el-coche-este-es-el-primer-automovil-de-la-historia/#:~:text=Es%20el%20primer%20coche%20del,tiempo%2C%20el%20autom%C3%B3vil%20todav%C3%ADa%20existe.&text=El%20carro%20de%20Cugnot%2C%20en,Corr%C3%ADa%20el%20a%C3%B1o%201769." class="button" target="_blank">Ver más</a></li>
        </ul>
    </div>
</div>
</section>
<section>
    <a  class="image">
        <img src="/static/AppFinal/assets/images/creadorAuto.jpg" alt="" data-position="top center" />
    </a>
    <div class="content">
        <div class="inner">
            <header class="major">
                <h3>Creador</h3>
            </header>
            <p>El 29 de enero de 1886, Carl Benz patentó su “vehículo motorizado con motor de gasolina” de tres ruedas, y se consideró como el día del nacimiento del automóvil.</p>
            <ul class="actions">
                <li><a href="https://es.wikipedia.org/wiki/Carl_Benz" class="button" target="_blank">Ver más</a></li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}


{% block blog  %} 

{% endblock %}


{% block nuestrosvehiculos %} 

<header class="major">
    <h2>Autos creados:</h2>
    <h5>
        <a href="{% url 'leerautos' %}" >Editar lista de autos |</a> 
        <a href="#cargar" class="next scrolly">Cargar auto |</a> 
        <a href="#cargar" class="next scrolly">Buscar auto</a> 
       
    </h5>
</header>


<div class="container mt-5">
    <table class="table table-dark table-hover">
        <thead>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>
                Color
            </th>
            <th>
                Año
            </th>
        </thead>
</div>
    {% if ver_autos%}

 {% for auto in ver_autos %}
 <tbody>
    <tr>
        <td>{{ auto.marca }} </td>
        <td>{{ auto.modelo }} </td>
        <td>{{ auto.color }} </td>
        <td>{{ auto.año }}  </td>
    </tr>
</tbody>
    {% endfor %}
</table>

{% else %}

<table>
    <h4>No hay registros</h4>
</table>

{% endif %}

{% endblock %}



{% block crear %}
<div id="cargar"></div>
    <div class="major">
    <h3>Agrega tu auto preferido:</h3>
    </div>
    <div style="width: 500px ;">
        <form action="" method="POST"> {% csrf_token %}
            <table>

                {{ formulario.as_table }}

            </table>

            
            
            <ul class="actions">
                <button type="submit" class=""> Guardar </button>
                
                <li><input type="reset" value="Borrar" /></li>
            </ul>
        </form>
    </div>

{% endblock %}

{% block buscarpormarca %}

<h4><span class="fa fa-search"></span> Buscar por marca</h4>
<div style="width: 500px ;">
    <form action="{% url 'buscarautos' %}" method="GET"> {% csrf_token %}

        <p>Marca: <input type="text" name="marca", id="marca"></p>
        <ul class="actions">
            <input type="submit", value="Buscar">
            
            <li><input type="reset" value="Borrar" /></li>
        </ul>
        
    </form>
</div>


{% endblock %}

